<div class="container">
	<h1 class="mt-5">User Manual</h1><br>
	<h4>Non-Admin Users</h4>
	<h5>
	1. Log in to the account of your choice. A list of users can be found in the About page and README file or at the bottom of this manual. Alternatively, create a user by clicking on ‘Sign Up’ at the top right-hand corner of the page. This section will assume you have selected a non-admin user. 
	</h5>
	<h5>
	2. You are now able to click ‘view your current tasks’ from the main page or click on ‘Tasks’ at the top right-hand corner to access your list of tasks. From here, you can see the Task name and deadline (or completion date). Completed tasks with ‘PENDING APPROVAL’ indicate that you have marked the task as completed, but your supervisor has yet to verify that the task is done to satisfactory standards. Once marked approved, the task will disappear from your view. 
	</h5>
	<h5>
	3. To view more details about each task, click on the name of the task. Here you may also edit and delete the task or mark it as completed. 
	</h5>
	<h5>
	4. To create a new task, return to the main tasks page. Click on ‘Create Task’. 
	</h5>
	<h5>
	5. To search for a particular task, use the search bars to filter by name and/or tags. 
	</h5>
	<h5>
	6. To logout, click on ‘Log Out’ at the top right-hand corner of the page 
	</h5>
	<br>
	<h4>Admin Users</h4>
	<h5>
	1. Currently, Admin users are implemented such that they are users whose username == ‘Admin’ rather than as a boolean property of users. Please log in as Admin now. 
	</h5>
	<h5>
	2. Admins will instead see everyone’s tasks in the main tasks screen, along with who each task belongs to. Additionally, they are the only ones who can mark completed tasks as approved and see tasks that have been marked as complete and approved. 
	</h5>
	<h5>
	3. Admins are also able to access the list of users and edit or destroy them. Click on ‘Users’ at the top right-hand corner to access the main users page. 
	</h5>
	<h5>
	4. From this page, you are able to edit or delete users, create a new user or most importantly, view a user’s task history, including completed and approved tasks. 
	</h5>
	<h5>
	5. IMPORTANT NOTICE: Please do not delete yourself. You are better than that. 
	</h5>
</div>
<div class="container">
	<h4>List of users (All share the same password of ‘password’):</h4> 
	<h5>
	1. Admin 
	</h5>
	<h5>
	2. John Doe 
	</h5>
	<h5>
	3. Kah Nah Fayed 
	</h5>
	<h5>
	4. Mary Sue 
	</h5>
	<h5>
	5. Tan Ah Kow
	</h5>
</div>