<%# This is the ./welcome/index page. It has been made into the main page by setting 'root' in routes.rb%>

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="mt-5">Welcome to my CVWO Assignment</h1>
			<p class="lead">To begin, please sign-up or log in! The 'About' page / README file lists several users you can log in as for demonstration purposes!</p><br>
			<p class="lead"><%= link_to "Click me to view your current tasks!", tasks_path %></p>
		</div>
	</div>
</div>