<%# This is the ./welcome/index page. It has been made into the main page by setting 'root' in routes.rb%>

<h1>Welcome to my CVWO Assignment!</h1>
<p>To-do: Create a to-do list!</p>

<%= link_to "View your current tasks here: ", tasks_path %>